@media (max-width: 1200px) {
    .promo{
        .header {
            display: flex;
            justify-content: space-around;
        }
    }
    

}
@media (max-width: 991px) {
    .promo {
        &__wrepper {
            display: flex;
            align-items:center;
        }
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items:center;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        .header {
            display: flex;
            justify-content: space-evenly;
            &__official {
                font-size: 10px;
                span {
                    font-size: 10px;
                }
            }
            &__phone {
                font-size: 10px;
            }
            .button {
                width: 90px;
                height: 20px;
                font-size: 8px;
            }
            &__logo {
                width: 30%;
            }
        }
        &__wrepper {
            text-align: center;
        }
        &__icons {
            display: flex;
            justify-content: space-around;
        }
    }
    .benefits {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items:center;
        }
    }
}

@media (max-width: 575px) {

}