@media (max-width: 1200px) {
    .promo {
        .header {
            display: flex;
            justify-content: space-around;
            &__phone {
                font-size: 17px;
            }
        }
        &__wrepper {
            margin-right: 30px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    
    .consultation {
        .title_left {
            font-size: 30px;
            margin-left: 30px;
        }
        &__descr {
            margin-left: 30px;
        }
        form {
            margin-left: 30px;
        }
    }
    
    .catalog {
        &__content {
            margin: 40px;
        }
    }

    .reviews {
        &__item {
            margin: 70px 30px;
        }
    }
}
@media (max-width: 991px) {
   
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
   
}